@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Fugaz+One&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    color: currentColor;
}

a:hover {
    color: currentColor;
    text-decoration: none;
}

.para {
    color: #424447bf;
    font-weight: bold;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

dl,
ol,
ul {
    margin-bottom: 0;
}

li {
    list-style-type: none;
}

.site-title {
    font-size: 0;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(165, 165, 165, 0.329);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(160, 160, 160, 0.479);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #636363;
}


html,
body {
    width: 100%;
    margin: 0px;
    /* height: 100%; */
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Merriweather', serif;
}

.cursive-font {
    font-family: 'Pacifico', cursive;
}

.object-cover {
    transition: all ease .7s;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.object-contain {
    transition: all ease .7s;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.logo {
    transition: ease-in-out .5s;
    padding: 8px;
    width: 250px;
    border-radius: 8px;
}
.footer_logo{
    height: 120px;
    width: fit-content;
    padding: 8px;
}

.btn-primary {
    transition: all ease .7s;
    background-color: #ff652d !important;
    color: white;
    border: #ff652d !important;
}

.btn-primary:hover {
    background-color: #fd5a1f !important;
    color: white;
    border: #ff4400 !important;
}

.btn-primary:focus {
    box-shadow: #ff652d69 0px 0px 0px 0.2rem;
}

.carousel-indicators {
    z-index: 2;
}

.text-AV {
    color: #ef4328 !important;
}

/* new */
.rounded_images {
    border-radius: 8px;
    overflow: hidden;
}

.carousel-item,
.carousel_bg {
    height: 87vh;
}

.heading {
    font-weight: bold;
    color: #ef4328;
    font-size: 36px;
}

.dancing-font {
    font-family: 'Dancing Script', cursive;
}

.big-heading {
    font-weight: bold;
    color: #ef4328;
    font-size: 45px;
}

.medium-heading {
    font-weight: bold;
    color: #efae9e;
    font-size: 24px;
}


/* animation */
.reveal-r {
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: 1.5s all ease;
}

.reveal-l {
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: 1.5s all ease;
}

.reveal-up-0_5,
.reveal-up-1_0,
.reveal-up-1_5,
.reveal-up-2_0 {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
}

.reveal-up-0_5 {
    transition: 0.5s all ease;
}

.reveal-up-1_0 {
    transition: 1s all ease;
}

.reveal-up-1_5 {
    transition: 1.5s all ease;
}

.reveal-up-2_0 {
    transition: 2s all ease;
}

.reveal-fade {
    opacity: 0;
    transition: 3s all ease;
}

.reveal-l.active,
.reveal-r.active {
    transform: translateX(0px);
    opacity: 1;
}

.reveal-up-1.active,
.reveal-up-0_5.active,
.reveal-up-1_0.active,
.reveal-up-1_5.active,
.reveal-up-2_0.active,
.reveal-fade.active {
    transform: translateY(0px);
    opacity: 1;
}

.appointment_container {
    transition: all ease 0.7s;
    position: fixed;
    top: 5%;
    right: 5%;
    width: 0px;
    height: 0px;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    background-color: rgba(254, 254, 254, 0.224);
    overflow: hidden;
    opacity: 0;
}

.appointment_container.active {
    top: 0%;
    right: 0%;
    height: 100vh;
    width: 100%;
    opacity: 1;
    border-radius: 0%;
    animation: mac_effect;
}

.notification_bar {
    transition: all ease 1s;
    position: fixed;
    bottom: -50%;
    left: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 9999;
    animation: notify;
    animation-duration: 5s;
    display: none;
}

.notification_bar.active {
    display: flex;
}

.main_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    z-index: 99;
    border-bottom: 05px solid #ffffffad;
}

.main_nav_light {
    color: #1f1f1f;
    border-bottom: 05px solid #585858ad;
    background: white;
}

.nav_links {
    font-weight: 500;
    font-size: 20px;
    padding: 3px 8px;
    transition: all ease 1s;
}

.nav_links:hover {
    font-weight: 500;
    font-size: 20px;
    background-color: white;
    color: black;
    padding: 3px 8px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 5px solid #dedede;
}

.main_nav_light .nav_links:hover {
    background-color: rgb(35, 35, 35);
    color: rgb(240, 240, 240);
    border-bottom: 5px solid #6d6d6d;
}

.side_bar {
    transition: all ease 1s;
    padding-top: 10%;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 50%;
    background-color: white;
    z-index: 100;
}

@keyframes notify {
    0% {
        bottom: -50%;
    }

    15% {
        bottom: 2%;
    }

    25% {
        bottom: 0%;
    }

    85% {
        bottom: 0%;
    }

    100% {
        bottom: -50%;
    }
}

.main_image {
    height: 100vh;
    background-image: url('images/main_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.op-90p {
    opacity: 90%;
}

.slider_heading {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding-right: 5%;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fs-3_5 {
    font-size: 3.5rem;
}

.slider_heading .btn-primary {
    padding: 8px 18px;
    font-size: 20px;
}

.btn-outline {
    padding: 8px 18px !important;
    border-radius: 4px;
    background-color: rgba(255, 0, 0, 0) !important;
    border: 0.5px solid #fd5a1f !important;
    color: #fd5a1f;
}

.btn-outline:hover {
    border: 0.5px solid #fd5a1f !important;
}

.vh-100 {
    height: 100vh;
}

.vh-60 {
    height: 60vh;
}

.hamburger_button {
    border: 0.5px solid white;
    padding: 4px 8px;
    background-color: white;
}

.paneer_masala {
    overflow: hidden;
    width: 30vw;
    position: absolute;
    top: 0;
    right: -6%;
}

.hamburger_button {
    background-color: unset;
    border: 0;
    color: white;
}

.catering-specials{
    background:url('images/stone-texture.jpg');
}

.specials_menu{
    height: 50vh;
    width: 100%;
    background-color: #636363;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 24px;
    position: relative;
}

.specials_menu:hover img {
    transform: scale(1.2);
    filter: brightness(0.8);
}
.specials_details{
    transition: all ease 0.7s;
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 12px;
}

.specials_details .contents{
    background-color: rgba(255, 127, 47, 0.432);
    padding: 18px 10px;
    color: white;
}
.specials_menu:hover .specials_details{
bottom: 0;
}
.small_point{
    font-weight: bold;
font-size: 14px;
opacity: 75%;
}

.border-design, .border-design-upside-down{
    background-size: contain;
    transition: all ease 0.7s;
    height: 25vh;
    background-image: url('images/border_design_updated.png');
    width: 100%;
    background-repeat: repeat-x;    
    background-position: bottom;
    opacity: 0;
}

.border-design-upside-down{
transform: rotate(180deg); 
}

.border-design.active, .border-design-upside-down.active{
    width: 150%;
    opacity: 1;
}

.tea_cup {
    width: auto;
    height: 80%;
}
.fa-brands {
    padding: 4px;
    width: 45px;
    height: 45px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

@media screen and (min-width: 1200px) {
    .vh-100 {
        height: 100%;
    }

    .w-lg-50 {
        width: 100% !important;
    }

    .side_bar {
        width: 50%;
        right: -100%;
    }
}

@media screen and (max-width: 1200px) {
    .vh-60 {
        height: 100% !important;
    }

    .vh-100 {
        height: 100%;
    }

    .slider_content .slider_heading {
        font-size: 32px;
    }

    .slider_content .medium-heading {
        font-size: 20px;
    }

    .w-md-75 {
        width: 100% !important;
    }
}

@media screen and (max-width: 900px) {
    .border-design, .border-design-upside-down{
        height: 18vh;
    }
    .tea_cup {
        width: auto;
        height: 28vh;
        width: auto;
        position: absolute;
        top: 0;
        right: 0;
    }
    .paneer_masala {
        width: 43vw;
        top: 10%;
        right: -9%;
    }

    .medium-heading {
        font-size: 18px;
    }

    .vh-100 {
        height: 100% !important;
    }

    .vh-60 {
        height: 100% !important;
    }

    .slider_heading {
        font-size: 26px;
    }

    .slider_content .medium-heading {
        font-size: 18px;
    }
}

@media screen and (max-width: 760px) {
    .tea_cup {
        width: auto;
        height: 14vh;
        width: auto;
        position: absolute;
        top: -6%;
        right: 0;
    }
    .paneer_masala {
        width: 33vw;
        top: -20%;
        right: -6%;
    }

    .slider_heading .fs-3_5 {
        font-size: 36px;
    }

    .slider_heading {
        width: 60%;
        padding-right: 0;
        padding-top: 2%;
    }

    .slider_heading .btn-primary {
        font-size: 16px;
    }

    .main_nav {
        background-color: #31313166;
    }

    .main_image {
        height: 75vh;
    }

    .side_bar {
        width: 75%;
    }

    .vh-100 {
        height: 100% !important;
    }

    .vh-60 {
        height: 100% !important;
    }

    .big-heading {
        font-size: 36px;
    }

    .w-sm-100 {
        width: 100% !important;
    }

    .slider_heading {
        font-size: 24px;
    }

    .slider_content .medium-heading {
        font-size: 20px;
    }

    .slider_content {
        width: 80%;
        left: 10%;
    }

    .carousel-inner::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        background: radial-gradient(transparent 20%, #00000082);
        width: 100%;
        height: 100vh;
        opacity: 0;
    }

    .carousel-item {
        height: 60vh;
    }
}